<div class="main-container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-2">
      <div class="container-fluid d-flex main-container-1">
          <a class="navbar-brand" href="#">
              <span class=" fs-1 fw-bold">M</span>
              <span class=" fs-1 fw-bold text-success">S.</span>
          </a>
          <button #collapseButton id="close-expand" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"
              style="justify-content: space-around; float: right;">
              <ul class="navbar-nav mr-auto mb-2 mb-lg-0 bg-match" style="margin: 0px !important;">
                  <li class="nav-item" [class.active]="activeSection === 'home'">
                      <a class="nav-link active" aria-current="page" href="#"
                          (click)="setActiveSection('home'); collapseButton.click()">Home</a>
                  </li>
                  <li class="nav-item" [class.active]="activeSection === 'experience'">
                      <a class="nav-link" href="#experience" (click)="setActiveSection('experience'); collapseButton.click()">My
                          Experience</a>
                  </li>
                  <li class="nav-item" [class.active]="activeSection === 'skills'">
                      <a class="nav-link" href="#skills" (click)="setActiveSection('skills'); collapseButton.click()">My Professional
                          Skills</a>
                  </li>
                  <li class="nav-item" [class.active]="activeSection === 'education'">
                      <a class="nav-link" href="#education" (click)="setActiveSection('education'); collapseButton.click()">My Education</a>
                  </li>
                  <li class="nav-item" [class.active]="activeSection === 'home'">
                      <a class="nav-link" href="#" style="text-decoration: none;"
                          (click)="setActiveSection('home')">Contact No: +91 9739300663</a>
                  </li>
              </ul>

          </div>
      </div>
  </nav>
  <div class="mt-4 header-center header-main" id="home">
      <div>
          <div>HELLO, MY NAME IS</div>
          <div class="font-size">MADHU <span class="text-success">SUDHAN S</span> </div>
          <div>I AM FRONTEND DEVELOPER</div>

          <ul>
              <li>Angular</li>
              <li>JavaScript</li>
              <li>HTML5</li>
              <li>CSS</li>
          </ul>

          <div class="header-contain">
              <p>As a Frontend Developer at BridgeLabz, I specialize in Angular development for Tata Communication Pvt Ltd. 
                  My role involves designing and building a streamlined application that precisely meets client requirements. 
                  I focus on delivering optimal user experience and functionality, 
                  adhering to industry standards and employing best practices in frontend development.</p>
          </div>

          <div class="link-btn">
              <a href="mailto:m02sudhan@gmail.com" class="btn btn-success" target="_blank">Email Me</a>
              <a href="https://www.linkedin.com/in/madhu-sudhan-a07662196" class="btn btn-success"
                  target="_blank">LinkedIn</a>
              <a href="https://github.com/MadhuSudhan02?tab=repositories" class="btn btn-success"
                  target="_blank">Git</a>
          </div>
      </div>
  </div>
  <main>
      <section class="section_margin section-back" id="experience">
          <div style="text-align: center; ">
              <h1>My <span class="text-success sucess-font">Experience</span></h1>
          </div>
          <div class="mar-top" *ngFor="let exp of experienceList">
              <div>
                  <div class="fs-5 fw-bolder">
                      Company : {{exp.companyName}}
                  </div>
                  <div class="fw-light">
                      Job Role : {{exp.jobRole}}
                  </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                  <ng-container *ngFor="let pro of exp.project">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                          <div class="card" style="margin-bottom: 20px;">
                              <div class="card-body">
                                  <h6 class="card-title">Project Name: {{pro.projectName}}</h6>
                                  <p class="card-text">{{pro.projectExperience}}</p>
                                  <p class="card-text"><span style="font-weight: 200;"> Skills Involved: </span>
                                      {{pro.technicalSkills}}</p>
                                  <p *ngIf="pro.link">Project link: <a href="{{pro.link}}"
                                          target="_blank">{{pro.projectName}}</a></p>
                              </div>
                          </div>
                      </div>
                  </ng-container>
              </div>
          </div>
      </section>
      <section class="section_margin section-alternative" id="skills">
          <div style="text-align: center; margin-top: 40px; margin-bottom: 40px;">
              <h1>My <span class="text-success sucess-font">Professional Skills</span></h1>
          </div>
          <div class="row" style="margin-top: 20px;">
              <ng-container *ngFor="let skill of technicalSkillsList">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                      <div class="card" style="margin-bottom: 20px;">
                          <div class="card-body">
                              <h6 class="card-title">{{skill.skillName}}</h6>
                              <p class="card-text">
                                  {{skill.skillDescription}}</p>
                          </div>
                      </div>
                  </div>
              </ng-container>
          </div>
      </section>
      <section class="section_margin section-back" id="education">
          <div style="text-align: center; margin-bottom: 40px;">
              <h1>My <span class="text-success sucess-font">Education</span></h1>
          </div>
          <div style="margin-top: 40px;" *ngFor="let edu of educationList">
              <div>
                  <div class="fs-5 fw-bolder">
                      Academy : {{edu.academy}}
                  </div>
                  <div class="fw-light">
                      Course : {{edu.course}}
                  </div>
              </div>
              <div class="row" style="margin-top: 20px;">
                  <ng-container *ngFor="let pro of edu.project">
                      <div class="col-sm-12 mb-3 mb-sm-0">
                          <div class="card" style="margin-bottom: 20px;">
                              <div class="card-body">
                                  <h6 class="card-title">Project Name: {{pro.projectName}}</h6>
                                  <p class="card-text">{{pro.description}}</p>
                                  <p *ngIf="pro.link">Project link: <a href="{{pro.link}}"
                                          target="_blank">{{pro.projectName}}</a></p>
                              </div>
                          </div>
                      </div>
                  </ng-container>
              </div>
          </div>
      </section>

  </main>
  <footer style="background-color: white;">
          <div class="container-fluid d-flex main-container-1 foot-head">
              <a class="navbar-brand" href="#">
                  <span class=" fs-1 fw-bold">M</span>
                  <span class=" fs-1 fw-bold text-success">S.</span>
              </a>
              <div class="align-con" style="justify-content: space-around; float: right;">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-con">
                      <li class="nav-item nav-mar" style="margin-right: 0px !important;">
                          <p class="fs-6 fw-bold" 
                              target="_blank">Contact Me</p>
                      <li class="nav-item nav-mar">
                          <a class="nav-link" href="https://www.linkedin.com/in/madhu-sudhan-a07662196"
                              target="_blank">LinkedIn</a>
                      </li>
                      <li class="nav-item nav-mar">
                          <a class="nav-link" href="mailto:m02sudhan@gmail.com" target="_blank">Email :
                              m02sudhan&#64;gmail.com</a>
                      </li>
                      <li class="nav-item nav-mar">
                          <a class="nav-link" href="#home" style="text-decoration: none;"
                              (click)="setActiveSection('home')">Contact No: +91 9739300663</a>
                      </li>
                  </ul>

              </div>
          </div>
  </footer>
</div>